section {
    max-width: 600px;
}

.container {
    display: flex;
    width: 536px;
}

.external_container {
    display: flex;
}

.drag {
    margin: auto;
    cursor: grab;
}

.scroll_container {
    height: 488px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 16px;
}

.pay {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}