.container {
    width: 272px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.price {
    display: flex;
    justify-content: center;
}

.link {
    text-decoration: none;
    color: inherit;
}
