header {
    position: sticky;
    top: 0;
    background-color: #1C1C21;
    z-index: 1000;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1240px;
    margin: auto;
}

.container {
    display: flex;
}

nav a {
    text-decoration: none;
}

.title {
    display: flex;
    align-items: center;
    cursor: pointer;
    color:white;
}

.title:visited {
    color: white;
}

.title:active {
    color: white;
}

/*.logo {*/
/*    margin: auto;*/
/*    cursor: pointer;*/
/*    display: block;*/
/*}*/

.profile {
    margin-left: auto;
}